/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  .mdc-snackbar__surface {
    background-color: white !important;
  }

  .mdc-snackbar__label {
    color: black !important;
  }
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #f44436 !important;
}
