.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recovery-code {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;

  mat-card-header {
    display: flex;
    justify-content: space-between;
  }

  mat-icon {
    cursor: pointer;
  }
}

.img {
  max-width: 500px;
  max-height: 500px;

  img {
    object-fit: contain;
    width: 100%;
  }
}
