<div class="container">
  <div
    class="recovery-code"
    *ngIf="showOneTimeCode"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <p>
            Please save this code
          </p>
        </mat-card-title>
        <mat-icon (click)="closeKey()">close</mat-icon>
      </mat-card-header>
      <mat-card-content>{{oneTimeCode}}</mat-card-content>
    </mat-card>
  </div>
  <button class="button" *ngIf="!showCat" mat-raised-button color="primary" (click)="verify()">Where is a cat?</button>
  <div class="img" *ngIf="showCat">
    <img src="assets/cat.webp" alt="cat"/>
  </div>
</div>
