<div>
  <app-login-by-key (loggedIn)="handleLoggedIn()"></app-login-by-key >
  <p class="link" routerLink="/register">Not registered yet? Registration</p>
  <p class="link" routerLink="/login">Already registered? Login page</p>
</div>
