.field, mat-card-title {
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
  min-width: 400px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

::ng-deep .mdc-button__label{
    display: flex;
    align-items: center;
}
