<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="form.controls['name'].invalid">Fill in the field.</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>User name</mat-label>
          <input matInput placeholder="User name" formControlName="username">
          <mat-error *ngIf="form.controls['username'].invalid">Fill in the field</mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="submit()">
        <span>Register</span>
        <mat-spinner diameter="15" color="accent" *ngIf="loading"></mat-spinner>
      </button>
    </form>
  </mat-card-content>
</mat-card>
