<mat-toolbar color="primary">
  <h1 class="spacer">Hackathon</h1>
  <span class="spacer"></span>
  <button *ngIf="(isLoggedIn$ | async)" mat-icon-button (click)="handleLogout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
