<mat-card>
  <mat-card-title>Login by key</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>User name</mat-label>
          <input matInput placeholder="User name" formControlName="username">
          <mat-error *ngIf="form.controls['username'].invalid">Fill in the field.</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>One time key</mat-label>
          <input matInput placeholder="One time key" formControlName="oneTimeLoginKey">
          <mat-error *ngIf="form.controls['oneTimeLoginKey'].invalid">Fill in the field.</mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="submit()">
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
