<div>
  <app-login (loggedIn)="handleLoggedIn()"></app-login>
  <p class="link" routerLink="/register">Not registered yet? Registration</p>
  <p class="link" routerLink="/login-by-key">Login by one time key</p>
</div>
